* {
    margin:0px;
    padding:0px;
    background-color:#000000;
    font-family: 'Lacquer', cursive;
}

.btn {
    background-color:#d9ff00;
    padding: 30px;
    font-size: 30px;
    color: black;
    border-radius:6px;
    transition: transform 250ms;
}

.btn:hover {
    transform: translateY(-10px);
    background-color:#aaff00
  }

.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    gap:30px;
    flex-wrap:wrap;
}

.running-score {
    width: 330px;
    margin: 20px;
    padding: 10px;
    background-color:#a9ff5e;
}

.scores {
    background-color:#a9ff5e;
    font-size:30px;

}

#title {
    text-align:center;
    font-size:50px;
    color:white;
}

.outcome {
    color:white;
    font-size: 20px;
    
}

#choices {
    color: white;
    font-size: 20px;
}

.bottom {
    margin-top:0px;
    display:flex;
    justify-content: space-around;
    gap:40px;
    flex-wrap:wrap;
}

.play-again {
    display:flex;
    justify-content:center;
    margin:60px;
    color:white;
}
.play-again > button {
    color:rgb(0, 0, 0);
    padding:10px;
    background-color: rgb(0, 255, 238);
    font-size: 25px;
    transition: transform 250ms;
}

.play-again > button:hover {
    transform: translateY(-10px);
    background-color:rgb(19, 175, 175)
  }

.final-result > h2 {
    color:white;
    display:flex;
    justify-content:center;
    margin-top:20px;
    font-size:40px;

}